html 

.mainheader {
  display:inline-block;
  flex-direction: column;
  font-size: 100px;
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content:right;  
}

.topnav {
    float:right;
    font-display: bold;
    width: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color::blue;
}

#container {
    float::inline-end;
    display: block;
    text align: right;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

